*{margin:0; padding:0;}
html{font-size:14px; font-family:'Microsoft YaHei','微软雅黑','宋体','黑体',Verdana, Geneva, sans-serif;color:#000;background:#fbf6ef;}
a{color:#000;text-decoration:none;}
a:hover{text-decoration:underline;color:#fa5000;}
img{border:none;}
input, select,textarea{border:1px solid #ccc;}
ul, li{list-style:none;}
.clearBoth{clear:both;}

.container{width:1200px;margin:0 auto;background:#fff;}
.header{width:100%;}
.headerTop{width:100%;height:174px;overflow:hidden;}
.menuTop{width:100%;background:url(../images/navbg.png) repeat-x;height:62px;position:relative;}

.menuTopList{width:100%;padding-top:10px;}
.menuTopList ul li{float:left;padding-left:32px;padding-right:32px;font-size:16px;
line-height:40px;letter-spacing:6px;font-weight:600;}
.menuTopList ul li.menuTopList_0{margin-left:170px;padding-left:38px;
}

.bodyContent{width:100%;}
.indexBanner{width:860px;text-align:center;margin:10px auto 0 auto;}

.indexContent{}

.friendLinks{margin:10px 50px; 0 50px;}
.friendLinks a{padding-left:10px;padding-right:10px;}

.footer{width:100%;margin-top:15px;padding-top:14px;background:url(../images/btbg.png) repeat-x;text-align:center;padding-bottom:30px;}
.footer p{line-height:22px;}

.menuTopList ul li{position:relative;z-index:1;}
.subMenu{position:absolute;z-index:1000;}
.currentMenu{background:url(../images/hnav_1.png)  repeat-x;z-index:1001;position:relative;}
.menuTopList{position:relative;} 
.subMenu{display:none;} 
.subMenu{background:#dad6cc;margin-left:-32px;width:100%;text-align:center;}
.menuTopList ul li a:hover{color:#ff0000;}
.details_1{line-height:24px;font-size:14px;}
.details_1 p{padding-top:10px;}
.indexContent{margin-bottom:20px;}

.contantLeft{float:left;width:320px;overflow:hidden;margin-left:165px;}
.contantRight{float:left;overflow:hidden;}
.aboutUs{margin-top:70px;}
.curlture{line-height:26px;font-size:14px;padding-top:20px;width:1000px;margin:0 auto;}

.details_img{width:100%;text-align:center;margin-top:40px;}

/*幻灯片*/
#divSmallBox{overflow:hidden;*display:inline;*zoom:1;width:10px;height:10px;margin:0 5px;border-radius:10px;background:#ffffff;}
#playBox{ width:852px; height:287px; margin:20px auto; background:#333; position:relative; overflow:hidden;}
#playBox .oUlplay { width:99999px; position:absolute; left:0; top:0;}
#playBox .oUlplay li{ float:left;}
#playBox .pre{ cursor:pointer; width:45px; height:45px; background:url(../images/l.png) no-repeat; position:absolute; top:110px; left:10px; z-index:10;}
#playBox .next{ cursor:pointer; width:45px; height:45px; background:url(../images/r.png) no-repeat; position:absolute; top:110px; right:10px; z-index:10;}
#playBox .smalltitle {width:852px; height:10px; position:absolute; bottom:15px; z-index:10}
#playBox .smalltitle ul{ width:120px; margin:0 auto;}
#playBox .smalltitle ul li{ width:10px; height:10px; margin:0 5px; border-radius:10px; background:#ffffff; float:left; overflow:hidden;*display:inline;*zoom:1;}
#playBox .smalltitle .thistitle{ background:#69aaec;}
/*幻灯片*/

.details_1_top{width:100%;margin-top:20px;}
.details_1_top ul li{float:left;margin:2px;margin-right:10px;}


.details_ccgc{width:870px;margin:0 auto;}
.details_about_bam{width:870px;margin:0 auto;}
.details_about_city{width:908px;margin:0 auto;}

.details_1_top_left{float:left;width:302px;margin-top:25px;}
.details_1_top_left p{padding-bottom:10px;}
.details_1_top_right{float:right;margin-top:35px;}
.cityRoom_bg{width:100%;overflow:hidden;}
.details_1_bottom_left{float:left;}

.details_1_bottom_right{float:left;margin-left:20px;}

.listItem{width:930px;margin:0 auto;margin-top:25px;}
.listLeft{float:left;width:126px;}
.listLeft h2{font-size:16px;font-weight:bold;padding-left:15px;line-height:40px;}
.listLeft ul {padding-left:15px;padding-bottom:15px;}
.listLeft ul li{line-height:30px;}
.listRight ul li{line-height:30px;}
.listRight{float:left;margin-left:30px;}
.listArticlesPage{margin-top:30px;}

.listItemDetails{width:960px;margin:0 auto;margin-top:25px;}
.listRightDetails{float:left;margin-left:30px;width:803px;margin-top:43px;}
.listArticles{margin-top:41px;}
.listRightDetails h1{font-size:24px;font-weight:normal;line-height:28px;text-align:center;border-bottom:1px solid #aaa;padding-bottom:18px;}
.listRightDetailsTips{text-align:center;padding-top:14px;font-size:12px;padding-bottom:10px;}

.curlture_1{width:100%;margin-bottom:38px;}
.curltureHeader{width:100%;background:#e3dfd6 url(../images/titbg.png) center no-repeat;height:58px;line-height:58px;text-align:center;color:#ff6000;font-size:30px;font-weight:bold;}
.curltureList ul{margin-left:10px;}
.curltureList ul li{list-style:disc;color:#8d4603;font-size:18px;width:308px;float:left;margin-left:10px;line-height:28px;margin-right:10px;}
.curltureList ul li a{color:#8d4603;}
.curltureList{padding-top:24px;}
#curltureListImg ul li{list-style:none;text-align:center;}
#curltureListImg ul li p{margin-bottom:38px;font-weight:bold;}
#curltureListImg ul li p a{color:#7f5d00;}